<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form>
    <p><input placeholder="product" name="productName"></p>
    <p><button formaction="/check">Check</button></p>
</form>
<div th:each="product : ${products}">
    <p>
        id <span th:text="${product.id}"/>  name: <span th:text="${product.name}"/> price: <span th:text="${product.price}"/>
    </p>
</div>
<p> <span th:text="${errorMsg}" /></p>
</body>
</html>